.center-form {
  position: relative;
  display: flex;
  margin: auto;
  grid-template-rows: 500px 100px 300px;
}

.card-form {
  width: 500px;
  height: 750px;
  background-color: rgb(48, 130, 180, 0.85);
  margin: 20px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
}

.li-text-form {
  font-weight: 400;
  font-size: 20px;
  line-height: 39px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  font-family: arial;
  line-height: 50px;
  text-align: center;
}

.view3d {
  height: 95vh;
  width: 100vh;
  margin: 10px;
  border-radius: 14px;
}

.li-components {
  height: 89vh;
  width: 725px;
  background: #3082B4;
  border-radius: 14px;
  margin: 10px;
  overflow: auto;
}

.ul-center {
  padding: 5px;
  position: relative;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.li-element {
  display: flex;
  width: 700px;
  min-height: 50px;
  background-color: rgb(53, 140, 194);
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25));
  list-style-type: none;
  border-radius: 12px;
  padding: 15px 0px 15px 15px;
  margin: 5px 0px 10px 0px;
  color: #FFFFFF;
}

.text-element {
  display: flex;
  flex-direction: column;
}
.text-li {
  display: flex;
  margin: 0 10px;
  font-size: 18px;
  line-height: 28px;
}

.button-change {
  height: 24px;
  width: auto;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 12px;
  bottom: 0;
}