.center_form{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-direction: column;
}

.card_form{
  width: 500px;
  height: 750px;
  background-color: rgb(48, 130, 180, 0.85);
  margin: 20px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
}

input{
  outline: none;
  margin: 5px 10px;
  width: 275px;
  height: 40px;
  border: 3px solid #58AADC;
  border-radius: 8px;
  color: #000000;
  padding: 12px 10px;
  font-size: 16px;
}

input:focus{
  border: 3px solid #80D2FF;
  transition: 0.2s;
}

.button_margin_form{
  margin: 5px 10px;
}

.caption_text_form{
  font-family: 'Inter';
  font-style: normal;
  text-align: center;
  font-size: 24px;
  height: 50px;
  letter-spacing: 0.15em;
  color: rgba(255, 255, 255, 0.95);
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.50);
  margin: 15px;
  line-height: 50px;
}

li{
  width: 325px;
  min-width: 50px;
  background-color: #58AADC;
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25));
  list-style-type: none;
  border-radius: 12px;
  margin: 15px;
}

.li_text_form{
  font-weight: 400;
  font-size: 20px;
  line-height: 39px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  font-family: arial;
  line-height: 50px;
  text-align: center;
}