.button{
  display: block;
  height: 45px;
  padding: 10px 40px;
  background: rgba(48, 130, 180, 0.85);
  border-radius: 12px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: 3px solid #3ea2d8;
  margin: 5px 10px;
  line-height: 20px;
}

.button:hover{
  transition: 0.2s;
  border: 3px solid #80d3ff;
}

.button:not(:hover){
  transition: 0.5s;
}

.button_off{
  width: 175px;
  height: 40;
  background: rgb(28, 110, 160, 0.85);
  border-radius: 12px;
  border: 2px solid #4496C8;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  cursor: default;
}

.background_text, .button, .button_off{
  position: relative;
  font-family: arial;
  font-style: normal;
  color: #ffffff;
}

.button_optional_equipment{
  position: absolute;
  right: 40px;
  top: 26px;
  width: 300px;
}