.button {
  display: flex;
  height: 45px;
  padding: 10px 40px;
  background: #3082B4;
  border-radius: 12px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: 3px solid #3ea2d8;
  margin: 5px 5px;
  line-height: 20px;
  color: #ffffff;
  min-width: 175px;
}

.button:hover {
  transition: 0.2s;
  border: 3px solid #80d3ff;
}

.button:not(:hover) {
  transition: 0.5s;
}

.button_off {
  position: relative;
  width: 175px;
  height: 40;
  background: #3082B4;
  border-radius: 12px;
  border: 2px solid #4496C8;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  cursor: default;
  color: #ffffff;
}

.button-application-form {
  position: relative;
  margin: auto;
}

.button-help {
  border-color: #ffff5b;
  color: #ffff5b;
}

.button-help:hover {
  transition: 0.2s;
  border: 3px solid #ffffff;
  color: #ffffff;
}

.hidden {
  visibility: hidden;
}