.button, .button-popup, .button-help, .button-application-form {
  display: flex;
  height: 45px;
  background: #3082B4;
  border-radius: 12px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: 3px solid #3ea2d8;
  line-height: 20px;
  color: #ffffff;
  width: 250px;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.button {
  margin: 25px;
}

.button:hover, .button-help:hover, .button-popup:hover {
  transition: 0.2s;
  border: 3px solid #80d3ff;
}

.button:not(:hover) {
  transition: 0.5s;
}

.button_off {
  position: relative;
  width: 175px;
  height: 40;
  background: #3082B4;
  border-radius: 12px;
  border: 2px solid #4496C8;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  cursor: default;
  color: #ffffff;
}

.hidden {
  visibility: hidden;
}

.button-help {
  width: 45px;
  margin: 35px 15px;
}

.button-popup {
  width: 275px;
  margin: 5px;
}

.button-application-form {
  margin: 25px 5px 5px;
}

@media screen and (max-width:600px) {
  .button-help {
    margin: 100px 10px 10px;
  }

  .button-application-form {
    margin: 25px 5px 25px;
  }
}