.card-select{
  position: relative;
  display: flex;
  background: #3082b4;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  margin: 15px;
  border: 3px solid #3082B4;
  width: 575px;
  min-height: 275px;
  margin: auto;
}

.card-img-select{
  position: relative;
  max-width: 325px;
}

.img-select{
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 12px;
}

.card-body-select{
  position: relative;
  width: 250px;
  padding: 5px;
}

.select-box{
  margin: 5px 10px;
  height: 45px;
  min-width: 200px;
  max-width: 92%;
  background-color: #3082B4;
  border: 3px solid #4496C8;
  color: #ffffff;
  font-size: 24px;
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
  outline: none;
}

option{
  background-color: #ffffff;
  color: black;
}

input[type=number]{
  outline: none;
  margin: 5px 10px;
  height: 40px;
  border: 3px solid #58AADC;
  border-radius: 8px;
  color: #000000;
  padding: 12px 10px;
  font-size: 16px;
  -webkit-appearance: none;
}

input[type=number]:focus{
  border: 3px solid #80D2FF;
  transition: 0.2s;
}

.title-text-select{
  margin: 5px 12px;
  line-height: 34px;
}

.background-text-select{
  margin: 5px 12px;
  color: #ffffff;
}