.center-list{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-direction: column;
}

.card-list{
  display: flex;
  flex-direction: row;
  width: 700px;
  height: 85px;
  background: #3082B4;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  border: none;
  margin: 15px;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}

.text-ception-list{
  position: relative;
  height: 35px;
  text-align: center;
  line-height: 35px;
  width: 225px;
}

.button-list{
  display: flex;
  align-items: center;
  width: auto;
  position: relative;
  justify-content: flex-end;
}

.button-add, .button-delete{
  margin: 0px 5px 0px 5px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  outline: none;
  border: none;
  cursor: pointer;
}

.button-add{
  background-color: #42FF00;
}

.button-delete{
  background-color: #FF6767;
}

.list{
  display: flex;
  border: none;
  justify-content: space-around;
  padding: 20px;
  padding-left: 10px;
  margin: 15px;
  width: 625px;
  height: 85px;
  background-color: #3082B4;
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25));
  list-style-type: none;
  border-radius: 12px;
}

.box{
  display: flex;
  line-height: 45px;
}

.select-seat{
  position: relative;
  background-color: #ffffff;
  border: 3px solid #4496C8;
  color: #000000;
  font-size: 24px;
  width: 330px;
  height: 45px;
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
  margin: auto 0;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
  position: relative;
  width: 175px;
  height: 45px;
  border: 3px solid #4496C8;
  border-radius: 8px;
  color: #000000;
  padding: 12px 10px;
  font-size: 24px;
  margin: 0px 5px;
}

.select-seat:focus, input:focus{
  outline: none;
}

.select-pump{
  background-color: #ffffff;
  border: 3px solid #4496C8;
  color: #000000;
  font-size: 24px;
  width: 400px;
  height: 45px;
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
  position: relative;
}

.select-pump:focus{
  outline: none;
}

.align-button{
  right: 260px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 5px 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input[type=checkbox]:checked + .slider {
  background-color: #58dc80;
}

input[type=checkbox]:focus + .slider {
  box-shadow: 0 0 1px #58dc80;
}

input[type=checkbox]:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}