.nav-open .nav{
  transform: translateX(0);
}

.nav-open i{
  transform: translateX(0);
  transform: rotate(-180deg);
  transition: transform 0.5s;
}

.nav {
  width: 350px;
  height: 100vh;
  position: fixed;
  background: rgba(48, 130, 180, 0.95);
  transform: translateX(-275px);
  transition: transform 0.2s;
  overflow: hidden;
}

i{
  transition: transform 0.2s;
}

.nav-close {
  background: none;
  display: flex;
  align-items: center;
  border: none;
  width: 75px;
  padding: 15px 25px;
  margin-left: auto;
  cursor: pointer;
  transition: transform 0.2s;
}

.nav-close:hover {
  background: rgba(255, 255, 255, 0.15);
}

.nav-links-container {
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.25);
}

.nav__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  text-decoration: none;
  color: #dddddd;
}

.nav__link:hover {
  background: rgba(255, 255, 255, 0.15);
}

.active-page {
  background: rgba(255, 255, 255, 0.10);
}

.verified {
  position: absolute;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  right: 10px;
  top: 10px;
  background: #58dc80;
}

.icon {
  position: absolute;
  right: 25px;
  height: 32px;
  width: auto;
  margin: 0;
  padding: 0;
}
