html,body{
  height:100%;
}

*{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1172af;
}

::-webkit-scrollbar-thumb {
  background: #41abec;
  border-radius: 14px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.background-image{
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  background-attachment: fixed;
  background-image: url('/image/background/cow.jpg');
}

.logo {
  width: 250px;
  margin: 15px;
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.50));
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: inline-flex;
  height: 90%;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.card-center {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.list-center {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.align-content {
  align-content: center;
}

.justify-content {
  justify-content: center;
}

.button-center {
  position: relative;
  margin: 0 50%;
}

.button-help-position {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.container-help-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pump-checkbox {
  display: flex;
  margin: 0 25%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex:after {
  content:'';
  width:100%;
  order:0;
}

.card.new-string,
.card.new-string ~ .card {
  order:1;
}

.caption {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px 15%;
}

@media screen and (min-width: 1408px) {
  .main{
    justify-content: center;
  }
}

@media screen and (max-width:600px) {

  .card-center {
    align-content: center;
  }
  .container-help-list {
    margin: 15px;
    justify-content: flex-end;
  }
}