* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
  border-radius: 14px;
}


::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 14px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.center-list-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}

.grid {
  display: grid;
  place-items: center;
  grid-template-columns: 400px 400px 400px;
  grid-auto-flow: row;
}

.center-application {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container-center {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin: 15px auto;
}

.container-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.center-button {
  position: relative;
  display: flex;
  margin: 15px auto;
  align-items: center;
  justify-items: center;
  justify-content: center;
}


.slide-show{
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  background-attachment: fixed;
  animation: slide 36s linear infinite;
  background-image: url('/image/background/cow1.jpg');
}

@keyframes slide{
  0%, 100%{
    background-image: url('/image/background/cow1.jpg');
  }
  20%{
    background-image: url('/image/background/cow2.jpg');
  }
  40%{
    background-image: url('/image/background/cow3.jpg');
  }
  60%{
    background-image: url('/image/background/cow4.jpg');
  }
  80%{
    background-image: url('/image/background/cow5.jpg');
  }
}

@media only screen and (max-width: 1350px)  {

  .button-column {
    position: relative;
    display: flex;
    margin: 15px auto;
    align-items: center;
    justify-items: center;
  }

}